<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Administración de Empleados</title>
    <link rel="stylesheet" href="styles/styles.css">

</head>

<body>
    <h1>Interfaz de Administración de Empleados</h1>

    <!-- Formulario para agregar un nuevo empleado -->
    <h2>Agregar Empleado</h2>
    <form action="/empleados" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        <br>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" required>
        <br>
        <label for="categoria">Categoría:</label>
        <input type="text" name="categoria" required>
        <br>
        <label for="dni">DNI:</label>
        <input type="text" name="dni" required>
        <br>
        <label for="legajo">Legajo:</label>
        <input type="text" name="legajo" required>
        <br>
        <button type="submit">Agregar Empleado</button>
    </form>

</body>

</html>
