<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Borrar empleado.</title>
</head>
<body>
    <!-- Formulario para eliminar un empleado -->
    <h2>Eliminar Empleado</h2>
    <form action="/borrar_empleado" method="POST">
        <label for="id_empleado">ID del Empleado a Eliminar:</label>
        <input type="text" name="id_empleado" required>
        <br>
        <button type="submit">Eliminar Empleado</button>
    </form>
</body>
</html>
