<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Modificar empleado.</title>
</head>
<body>
    <!-- Formulario para modificar un empleado existente -->
    <h2>Modificar Empleado</h2>
    <form action="/modificar_empleado" method="POST">
        <label for="id_empleado">ID del Empleado a Modificar:</label>
        <input type="number" name="id_empleado" required>
        <br>
        <label for="nueva_descripcion">Nuevo Nombre:</label>
        <input type="text" name="nueva_nombre" required>
        <br>
        <label for="nueva_cantidad">Nuevo Apellido:</label>
        <input type="text" name="nueva_apellido" required>
        <br>
        <label for="nuevo_precio">Nueva Categoría:</label>
        <input type="text" name="nueva_categoria" required>
        <br>
        <label for="nuevo_proveedor">Nuevo DNI:</label>
        <input type="text" name="nuevo_dni" required>
        <br>
        <label for="nuevo_proveedor">Nuevo Legajo:</label>
        <input type="text" name="nuevo_legajo" required>
        <br>
        
        <button type="submit">Modificar Empleado</button>
    </form>

</body>
</html>
